---
template: mail
---
<div data-scope="people" style="margin:40px;">
	<h2><span data-prop="first_name"></span>,</h2>
</div>
<div data-scope="events" style="margin: 40px;">
	<p>Congratulations, your event has been approved. You can find your event details below:</p>
    <br /><br />
    <p>
        Name: <span data-prop="name"></span><br />
        Description: <span data-prop="description"></span><br />
        Start Time: <span data-prop="start_datetime"></span><br />
        Duration: <span data-prop="duration"></span><br />
        Venue: <span data-prop="venue_name"></span><br />
        Group Name: <span data-prop="group_name"></span><br />
    </p>

	<p>Thank you,</p>
	<p>The <strong>#openHSV</strong> team</p>
</div>